extends main

append styles
    link(rel='stylesheet', href='/stylesheets/layout.css')

block content
    header.header
        section.main-header
            .logo-container
                h1.website-name STUNT
            nav.options
                li.menu-item
                    a.menu-item-link(href="/music") [MUSIC]
                li.menu-item
                    a.menu-item-link(href="/movies") [MOVIES]
                li.menu-item
                    a.menu-item-link(href="/tv-shows") [TV SHOWS]
        section.aside-menus
            block aside-menus
                aside.aside-menu
                    nav.menu-options
                        block aside-menu-options
                aside.aside-submenu
                    nav.menu-options
                        block aside-submenu-options
    section.main
        block main-section
