// Colors
$rich-black: #0d1821ff;
$coral: #ef8354ff;
$raspberry-rose: #a53860ff;
$isabelline: #fbf7f4ff;
$raw-umber: #a1683aff;
$asparagus: #60992dff;

// Page color aliases
$primary-accent: $coral;
$secondary-accent: $raspberry-rose;
$tertiary-accent: $raw-umber;
$dark-accent: $rich-black;
$background: $isabelline;
$foreground: #131313ff;

$error: $raspberry-rose;
// Success should be a nice green color fitting with the theme
$success: $asparagus;

// Font
$font-family: 'Roboto', sans-serif;
$font-size: 16px;

// Size aliases
$tiny: 0.5rem;
$small: 1rem;
$medium: 2rem;
$large: 3rem;
$xlarge: 4rem;


// Mixins
@mixin centered-column-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@mixin input {
	width: 100%;
	padding: $tiny;
	border-radius: $tiny;
	border: none;
	font-size: $small;
	font-weight: 300;
	background-color: lighten($tertiary-accent, 30%);
	color: $foreground;
	text-align: center;
	outline: none;
	transition: background-color 0.2s ease-in-out;

	&::placeholder {
		font-style: italic;
	}

	&:focus {
		background-color: lighten($tertiary-accent, 20%);

		&::placeholder {
			color: transparent;
		}
	}
}

@mixin button {
	padding: $tiny;
	border-radius: $tiny;
	border: none;
	font-size: $small;
	font-weight: 300;
	background-color: lighten($dark-accent, 10%);
	color: $background;
	padding: {
		top: $tiny;
		right: $small;
		bottom: $tiny;
		left: $small;
	}
	text-align: center;
	outline: none;
	transition: background-color 0.2s ease-in-out;
	cursor: pointer;
}