// Colors
$rich-black: #0d1821ff;
$coral: #ef8354ff;
$raspberry-rose: #a53860ff;
$isabelline: #fbf7f4ff;
$raw-umber: #a1683aff;

// Page color aliases
$primary-accent: $coral;
$secondary-accent: $raspberry-rose;
$tertiary-accent: $raw-umber;
$dark-accent: $rich-black;
$background: $isabelline;
$foreground: #131313ff;

// Font
$font-family: 'Roboto', sans-serif;
$font-size: 16px;

// Size aliases
$tiny: 0.5rem;
$small: 1rem;
$medium: 2rem;
$large: 3rem;
$xlarge: 4rem;