@use 'config' as *;

html {
    font-size: $font-size;
    font-family: $font-family;
    background-color: $background;
    color: $foreground;
}

* {
    font-family: $font-family;
}

em {
    font-style: italic;
}

.body-wrapper {
    display: flex;
    flex-direction: column;

    .notifications {
        position: absolute;
        right: 0;
        width: 20%;
        height: 100%;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: $small;
        padding: $small;
        overflow: hidden;

        .notification-template {
            display: none;
        }

        .notification {
            background-color: $primary-accent;
            right: $small;
            color: $background;
            padding: $medium;
            position: relative;

            &.success {
                .notification-title {
                    color: $success;
                }
                
                &::before {
                    background-color: $success;
                }
            }

            &.error {
                .notification-title {
                    color: $error;
                }

                &::before {
                    background-color: $error;
                }
            }

            .notification-title {
                font-size: $medium;
                font-weight: 700;
            }

            .notification-message {
                font-size: $small;
                font-weight: 400;
            }

            &::before {
                content: '';
                position: absolute;
                height: $tiny;
                bottom: 0;
                left: 0;
                animation: notification-timer 5s linear forwards;

                @keyframes notification-timer {
                    0% {
                        width: 100%;
                    }

                    100% {
                        width: 0;
                    }
                }
            }
        }
    }

}
