@use 'config' as *;

.header {
    display: flex;

    .main-header {
        display: flex;
        flex-direction: column;
        padding: $medium;
        width: max-content;
        border: {
            right: {
                width: 1px;
                style: solid;
                color: $foreground;
            };
            bottom: {
                width: 1px;
                style: solid;
                color: $foreground;
            };
        };

        .logo-container {
            font-size: $large;
            font-weight: 700;
        }

        .options {
            display: flex;
            justify-content: space-between;
            width: max-content;
            gap: $large;
            list-style: none;

            .menu-item {
                .menu-item-link {
                    color: $foreground;
                    text-decoration: none;
                    font-size: $small * 1.5;
                    font-weight: 400;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .aside-menus {
        flex-grow: 1;

        .aside-menu, .aside-submenu {
            padding: $small;
            display: flex;
            gap: $small;
            border-bottom: {
                width: 1px;
                style: solid;
                color: $foreground;
            };
            height: 50%;

            .menu-options {
                width: 100%;
                display: flex;

                .menu-item {
                    display: flex;
                    align-items: center;
                    gap: $small;
                    padding: $tiny;
                    cursor: pointer;

                    .menu-link {
                        font-weight: 400;
                        color: $foreground;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

.main {
	padding: $medium;
	display: flex;
	gap: $small;

}
