@use 'config' as *;

.main-section {
	width: 100%;

	.main-section-header {
		display: flex;
		align-items: center;
        gap: $xlarge;

		.main-section-title {
			font-size: $medium;
			font-weight: 700;
            padding: $tiny 0;
            border-bottom: {
                width: 1px;
                style: solid;
                color: $foreground;
            };
		}

		.main-section-options {
			display: flex;
			gap: $xlarge;
			align-items: center;

			.main-section-option-set {
				display: flex;
				align-items: center;
				gap: $tiny;
				padding: $tiny;
                border: {
                    width: 1px;
                    style: solid;
                    color: $foreground;
                };
				width: max-content;
				height: $large;

				.main-section-option {
                    cursor: pointer;
                    background-color: $background;
					height: 100%;
                    font-size: $small;
					border: none;

                    &:hover {
                        text-decoration: underline;
                    }
				}

				.sort-by-select, .sort-order-select {
                    cursor: pointer;
					background-color: $background;
					border: none;
					font-size: $small;
                    height: 100%;
				}
			}
		}
	}

	.main-section-content {
		padding-top: $small;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
		gap: $small;

		.main-section-item {
			line-height: 1.2;
            height: 22.5rem;
			padding: $small;
			transition: background-color 0.2s ease-in-out;
			cursor: pointer;
			position: relative;
            border: {
                width: 1px;
                style: solid;
                color: $foreground;
            };

			&:hover {
                text-decoration: underline;

                .main-section-item-favorite-icon {
                    display: block;
                }
			}

			.main-section-item-heading {
				font-size: $small * 1.5;
				font-weight: 700;
			}

			.main-section-item-image {
				width: 100%;
				margin-bottom: $tiny;
			}

			.main-section-item-favorite-icon {
				display: none;
				position: absolute;
				bottom: $small + $tiny;
				left: $small + $tiny;
				width: $medium;
			}
		}
	}
}
