extends ../templates/main

block content
    .heading-container
        h1.main-heading Welcome to CookiesTrim
        h2.sub-heading Login to your account
    form.login-form
        mixin input-container(label, type, name, id)
            .input-container
                label(for=id)= label
                input(type=type, name=name, id=id)&attributes(attributes)
        +input-container('Username', 'text', 'username', 'username')(class='username-input')
        +input-container('Password', 'password', 'password', 'password')(class='password-input')
        button.login-submit-btn(type="submit") Login

block scripts
    script(src="/javascript/login.js")